/* 전체 스타일 */
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 10px;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

/* navbar (width : 100% height : 20%) */
#navbar {
  width: 100%;
  height: 10%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
#navbar__logo p {
  margin-left: 10px;
  font-size: 13px;
  font-family: "Domine", serif;
}
#navbar__logo img,
#navbar__logo a {
  max-width: 100px;
  max-height: 50px;
}
#navbar__menu {
  display: flex;
  width: 50%;
}
.navbar__menu__item {
  width: 30%;
  margin: 0 20px;
  font-size: 18px;
  color: white;
}
.navbar__menu__item:hover {
  color: red;
}

/* main (width : 40% height : 20% */
.today {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  margin: auto;
  text-align: center;
}
#jsDate {
  margin: 0 20px;
  font-size: 50px;
  font-weight: bold;
}
#jsTime {
  margin: 0 20px;
  font-size: 40px;
  font-weight: bold;
}

/* Clock menu */
#clock__menu {
  width: 100%;
  height: 60%;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alarm,
.timer,
.stopwatch,
.tabata__clock {
  width: 15%;
  height: 40%;
  border: 1px solid white;
  border-radius: 10px;
  margin: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 35px;
  transition: all 300ms ease-in-out;
}

.alarm:hover,
.timer:hover,
.stopwatch:hover,
.tabata__clock:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#stopwatch__content {
  width: 100%;
  height: 100%;
}

.SW-container {
  background-color: rgb(36, 36, 36);
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid beige;
  border-radius: 10px;
}

.SW-container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 80%;
  margin: 20px;
  font-size: 250%;
}

.SW-container1 h2 {
  font-weight: bold;
  font-family: "Shadows Into Light", cursive;
}

.SW-container1 p {
  color: rgb(0, 252, 13);
  font-weight: bold;
  font-family: "Shadows Into Light", cursive;
  font-size: 50px;
}

.SW-container1 button {
  width: 130px;
  height: 30px;
  background-color: black;
  color: white;
  margin: 0 20px;
  font-size: 20px;
  outline: 1px dotted white;
  border-radius: 10px;
}

.SW-container2 {
  width: 30%;
  height: 80%;
  padding: 1% 4%;
  margin: 20px;
  border: 1px solid beige;
}

.SW-container2 ul {
  margin: 0;
  list-style-image: url("/wodTimer/images/Rap.png");
}

/* footer (width : 100% height : 10% */
#home__footer {
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

#home__footer h1,
#home__footer h2 {
  margin: 0;
  padding: 0;
}

/* --------------------------------------------- */
/* Timer */

#timer__content {
  background-color: rgb(36, 36, 36);
  width: 1000px;
  height: 100%;
  margin: auto;
  padding-top: 2%;
}
#timer__content h2 {
  margin: 10px 0;
  font-family: "Shadows Into Light", cursive;
  font-size: 60px;
}

#setting {
  width: 600px;
  height: 150px;
  margin: auto;
  padding-top: 10px;
  border: 3px dotted beige;
  border-radius: 10px;
  font-size: 30px;
}

#setting p {
  margin: 5px 0 10px 0;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  font-size: 35px;
}

#setting input {
  width: 60px;
  height: 40px;
  margin: 5px 0;
  text-align: center;
  padding: 5px;
  background-color: black;
  color: wheat;
  font-size: 25px;
}

#Timer__print {
  width: 600px;
  height: 150px;
  margin: 20px auto;
  border: 3px dotted beige;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

#Timer__print p {
  margin-top: 7px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: "Shadows Into Light", cursive;
}

#Timer__print p span {
  font-size: 50px;
  color: rgb(0, 252, 13);
}

#timer__content button {
  width: 300px;
  margin: 5px 10px;
  padding: 5px;
  background-color: seagreen;
  border: 3px solid white;
  border-radius: 50px;
  font-size: 150%;
}

/* ------------------------------------------------------ */
/* Tabata */

#tabata__clock__content {
  background-color: rgb(36, 36, 36);
  width: 80%;
  height: 100%;
  margin: auto;
  padding-top: 1%;
  border: 1px solid beige;
  border-radius: 10px;
}

#tabata__clock__content h1 {
  margin: 10px 0 0 0;
  font-family: "Shadows Into Light", cursive;
  font-size: 60px;
}

#tabata__container {
  width: 100%;
  height: 80%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tabata__content {
  width: 68%;
  height: 80%;
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dotted beige;
  border-radius: 10px;
  background-color: #34495e;
}

.tabata__setting {
  width: 28%;
  height: 80%;
  margin: 10px 5px;
  border: 3px dotted beige;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #34495e;
}

.tabata__setting h2 {
  margin: 10px 0;
  font-family: "Shadows Into Light", cursive;
  font-size: 25px;
}

.tabata__setting div {
  width: 90%;
  height: 25%;
  margin: 10px 0 10px 0;
  padding-top: 1.5%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #002c58;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.tabata__setting p {
  font-size: 1.5em;
  margin: 5px;
  padding: 0;
}
.tabata__setting input {
  width: 60px;
  height: 25px;
  margin: 5px 0;
  text-align: center;
  padding: 5px;
  background-color: black;
  color: wheat;
  font-size: 20px;
}

.tabata__break,
.tabata__timeleft,
.tabata__round {
  width: 30%;
  height: 90%;
  border: 1px solid beige;
  border-radius: 10px;
  margin: 0 2% 0 3%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #002c58;
  font-size: 20px;
  font-family: "Shadows Into Light", cursive;
}

#tabata__firstStart {
  width: 100%;
  height: 90%;
  border: 1px solid beige;
  border-radius: 10px;
  margin: 0 2% 0 3%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #002c58;
}

.tabata__btn {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabata__btn button {
  margin: 0 10px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Shadows Into Light", cursive;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.tabata__btn button:hover {
  color: red;
}
