/* 전체 스타일 */
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 10px;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

/* navbar (width : 100% height : 20%) */
#navbar {
  width: 100%;
  height: 10%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
#navbar__logo p {
  margin-left: 10px;
  font-size: 13px;
  font-family: "Domine", serif;
}
#navbar__logo img,
#navbar__logo a {
  max-width: 100px;
  max-height: 50px;
}
#navbar__menu {
  display: flex;
  width: 50%;
}
.navbar__menu__item {
  width: 30%;
  margin: 0 20px;
  font-size: 18px;
  color: white;
}
.navbar__menu__item:hover {
  color: red;
}

/* main (width : 40% height : 20% */
.today {
  width: 40%;
  height: 20%;
  margin: auto;
  text-align: center;
}
#jsDate {
  font-size: 50px;
}
#jsTime {
  font-size: 40px;
}

/* Clock menu */
#clock__menu {
  width: 100%;
  height: 60%;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alarm,
.timer,
.stopwatch,
.tabata__clock {
  width: 15%;
  height: 40%;
  border: 1px solid white;
  border-radius: 10px;
  margin: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 35px;
  transition: all 300ms ease-in-out;
}

.alarm:hover,
.timer:hover,
.stopwatch:hover,
.tabata__clock:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#stopwatch__content {
  width: 100%;
  height: 100%;
}

.SW-container {
  background-color: rgb(36, 36, 36);
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid beige;
  border-radius: 10px;
}

.SW-container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 80%;
  margin: 20px;
  font-size: 250%;
}

.SW-container1 button {
  width: 130px;
  height: 30px;
  background-color: black;
  color: white;
  margin: 0 20px;
  font-size: 20px;
  outline: 1px dotted white;
  border-radius: 10px;
}

.SW-container1 p {
  font-family: "Luckiest Guy", cursive;
  font-weight: bold;
  font-size: 50px;
}

.SW-container2 {
  width: 30%;
  height: 80%;
  padding: 1% 4%;
  margin: 20px;
  border: 1px solid beige;
}

.SW-container2 ul {
  margin: 0;
  list-style-image: url("/wodTimer/images/Rap.png");
}

/* footer (width : 100% height : 10% */
#home__footer {
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

#home__footer h1,
#home__footer h2 {
  margin: 0;
  padding: 0;
}
